@import '~@angular/material/theming';

@mixin left-menu-theme-component($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    left-menu {
        box-shadow: 1px 0px 2px mat-color($primary, A400);
        .left-menu-container {
            
        }
    }
}
