@import '../../../../assets/style/variables';

left-menu {
    display: block;
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: $white;
    z-index: 20;
    .left-menu-container { 
        position: relative;
        .left-menu-header {
            display: flex;
            justify-content: flex-end;
        }
    }
}
