
$en-primary: mat-palette($mat-blue, 900);
$en-accent: mat-palette($mat-red, A700); 
$en-warn: mat-palette($mat-orange, 500);
// $is-en: true;

// @function en-theme($en-primary, $en-accent, $en-warn) {
//     @return (
//       primary: $primary,
//       accent: $accent,
//       warn: $warn,
//       is-en: true,
//       foreground: $mat-light-theme-foreground,
//       background: $mat-light-theme-background,
//     );
// }

$en-theme: mat-light-theme($en-primary, $en-accent, $en-warn);

