
$ua-primary: mat-palette($mat-yellow, 700);
$ua-accent: mat-palette($mat-blue, 500);
$ua-warn: mat-palette($mat-orange, 500);
// $is-ua: true;

// @function ua-theme($ua-primary, $ua-accent, $ua-warn) {
//     @return (
//       primary: $primary,
//       accent: $accent,
//       warn: $warn,
//       is-ua: true,
//       foreground: $mat-light-theme-foreground,
//       background: $mat-light-theme-background,
//     );
// }

$ua-theme: mat-light-theme($ua-primary, $ua-accent, $ua-warn);

