header {
    display: block;
    height: 100px;
    .header-container {     
        overflow: hidden;
        position: relative;
        .header-image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .language {
            
        }
    }
}