@import '../../../../assets/style/variables';

header {
    display: block;
    background-color: $white;
    .header-container {     
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        box-sizing: border-box;
        .logo {
            width: 100px;
        }
        .menu {
            flex-grow: 1;
        }
        .language {
            .mat-icon-button {
                width: 50px;
            }
        }
    }
}

.mat-menu-panel {
    min-width: 80px !important;
}