<div class="app-container" [ngClass]="{'en': currentLanguage?.key === 'en', 
    'ua': currentLanguage?.key === 'ua', 'am': currentLanguage?.key === 'am'}">
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <left-menu (onCloseButtonClicked)="closeLeftMenu($event)"></left-menu>
        </mat-sidenav>
        <div class="main-container">
            <header (onLanguageChanged)="changeLanguage($event)" (onOpenButtonClicked)="openLeftMenu($event)"></header>
            <content></content>
            <footer></footer>
        </div>
    </mat-sidenav-container>
</div>