<div class="app-container" [ngClass]="{'en-theme': selectedTheme?.key === 'en-theme', 'ua-theme': selectedTheme?.key === 'ua-theme', 'am-theme': selectedTheme?.key === 'am-theme'}">
    <left-menu *ngIf="showLeftMenu" [@leftMenuAnimation]="showLeftMenu" (onCloseButtonClicked)="closeLeftMenu($event)"></left-menu>
    <div class="main-container" [ngClass]="{'opacity': showLeftMenu}">
        <header (onLanguageChanged)="changeLanguage($event)" (onOpenButtonClicked)="openLeftMenu($event)"></header>
        <content></content>
        <footer></footer>
    </div>
</div>