// @import '../assets/style/_theme';
@import '../assets/style/variables';
@import '../assets/style/mixins';

// @include mat-menu-theme($en);
// @include mat-select-theme($en);

app-root {    
    display: block; 
    height: 100%;
    .main-container {
        min-height: 100%;
    }
}

