// @import '../assets/style/_theme';
//@import '../assets/style/variables';
// @import '../assets/style/mixins';

app-root {    
    display: block; 
    height: 100%;
    .app-container {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
}

