@import '~@angular/material/theming';

@mixin mat-menu-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .mat-menu-panel {
        background: $primary;
        .mat-menu-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .mat-menu-item {
        background: mat-color($background, card);
        color: mat-color($foreground, text);
        &:hover:not([disabled]) {
            background: mat-color($background, card);
            color: mat-color($foreground, text);
        }
        &.mat-menu-item-highlighted {
            color: mat-color($foreground, text);
        }
    }
}

@mixin mat-select-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
  
    .mat-select-content, .mat-select-panel-done-animating {
        background-color: mat-color($background, card);
    }
    .mat-select-panel {
        .mat-option.mat-selected:not(.mat-option-multiple) {
            background-color: mat-color($background, card);
            color: mat-color($foreground, text);
        }
        .mat-option {
            background-color: mat-color($background, card);
            &:hover:not(.mat-option-disabled) {
                background-color: mat-color($background, card);
                color: mat-color($foreground, text);
            }
        }
    }
}
