@import '~@angular/material/theming';

@mixin mat-menu-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .mat-menu-panel {
        background: $primary;
        .mat-menu-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .mat-menu-item {
        background: $accent;
        color: $black; 
        &:hover:not([disabled]) {
            background: $primary;
            color: $white;
        }
        &.mat-menu-item-highlighted {
            color: $white;
        }
    }
}

@mixin mat-select-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    .mat-select-content, .mat-select-panel-done-animating {
        background: $white;
    }
    .mat-select-panel {
        .mat-option.mat-selected:not(.mat-option-multiple) {
          background: $primary;
          color: $white;
        }
        .mat-option {
            background: $accent;
            &:hover:not(.mat-option-disabled) {
                background: $primary;
                color: $white;
            }
        }
    }
}
