@import './variables';
// @import './mixins';

html {
    height: 100%;
    body {
        background-color: $white;
        height: 100%;
        margin: 0;
    
        .btn-lg {
            line-height: $btn-lg;
        }
        .btn-md {
            line-height: $btn-md;
        }
        .btn-sm {
            line-height: $btn-sm;
        }           
    }
}


