
//colors
$white: #fff;
$background: #f5f5f5;
$black: #000;

//buttons
$btn-lg: 48px;
$btn-lg-pd: 0 20px;
$btn-md: 36px;
$btn-md-pd: 0 16px;
$btn-sm: 30px;
$btn-sm-pd: 0 12px;


//resolutions
$desktop: 1280px;
$tablet: 1024px;
$phone: 768px;