@import './assets/style/variables.scss';
@import './assets/style/flags/flags.css';
@import '~@angular/material/theming';

@include mat-core();

@import './assets/style/themes/en.scss';
@import './assets/style/themes/ua.scss';
@import './assets/style/themes/am.scss';

@import './app/app-theme.component.scss'; 
@import './app/shared/components/left-menu/left-menu-theme.component.scss';
@import './app/shared/components/header/header-theme.component.scss'; 
@import './app/shared/components/footer/footer-theme.component.scss';
@import './app/shared/components/content/content-theme.component.scss';

// @import './assets/style/mixins.scss';   //module build failed, undefined ...palette...

@mixin custom-theme($theme) {
    @include mat-menu-theme($theme); //not works yet
    @include mat-select-theme($theme);  //not works yet

    @include app-theme-component($theme);
    @include left-menu-theme-component($theme);
    @include header-theme-component($theme);
    @include content-theme-component($theme);
    @include footer-theme-component($theme);    
}

@include angular-material-theme($en);  //for angular material core theme
.en {
    @include angular-material-theme($en);
    @include custom-theme($en);
}
.ua {
    @include angular-material-theme($ua);
    @include custom-theme($ua);
}
.am {
    @include angular-material-theme($am);
    @include custom-theme($am);
}


html {
    height: 100%;
    body {
        background-color: $white;
        height: 100%;      
        
        .button-large {
            line-height: $btn-lg;
            padding: $btn-lg-pd;
        }
        .button-medium {
            line-height: $btn-md;
            padding: $btn-md-pd;
        }
        .button-small {
            line-height: $btn-sm;
            padding: $btn-sm-pd;
        }
        .vertical-center {
            display: flex;
            align-items: center;
        }
        .horizontal-center {
            display: flex;
            justify-content: center;
        }
        .all-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

//reset default styles
body {
    margin: 0;
}
* {
    outline: none !important;
}
a, a:active {
    text-decoration: none;
    color: inherit;
}


