@import '~@angular/material/theming';

@mixin content-theme-component($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    content {
        background-color: mat-color($accent, 200);
    }
}
