<div class="content-container">
    <button mat-raised-button color="accent" class="button-large">Accent-Large</button>
    <button mat-raised-button color="accent" class="button-medium">Accent-Medium</button>
    <button mat-raised-button color="accent" class="button-small">Accent-Small</button>
    <button mat-raised-button color="primary" class="button-large">Primary-Large</button>
    <button mat-raised-button color="primary" class="button-medium">Primary-Medium</button>
    <button mat-raised-button color="primary" class="button-small">Primary-Small</button>
</div>